<html lang='es'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{{titulo}}</title>
		<link rel='stylesheet' href='/css/pago.css' />
	</head>

	<body>
		<div class='container'>
			<h1>Zona de Gol</h1>

			<section>
				<h2>Pago realizado</h2>

				<div class='usuario'>
					<span class='usuario-nombre'>{{usuario}}</span>
					<span class='usuario-correo'>{{correo}}</span>
				</div>
				<div class='cancha'>
					<div>
						<span class='cancha-field-nombre'>Cancha deportiva</span>
						<span class='cancha-nombre'>Local deportivo Max Soccer</span>
					</div>
					<div>
						<span class='cancha-field-id'>ID: </span>
						<span class='cancha-id'>13dhg13fd12hgf13da13dfs1</span>
					</div>
				</div>
				<div class='reserva'>
					<h3>Reserva</h3>
					<div>
						<span class='reserva-field'>Fecha de reservación: </span>
						<span class='reserva-fecha'>{{fecha}}</span>
					</div>
					<div>
						<span class='reserva-field'>Termina: </span>
						<span class='reserva-exp'>{{exp}}</span>
					</div>
					<div>
						<span class='reserva-field'>Duración de la reserva: </span>
						<span class='reserva-duracion'>{{duracion}} min</span>
					</div>
					<div>
						<span class='monto'>Monto: </span>
						<span class='reserva-monto'>S/ {{monto}}</span>
					</div>

				</div>
			</section>

		</div>
	</body>

</html>